<!-- TRMNL OG - Quadrant (one quarter of a 2x2 mashup). -->
<div class="layout layout--top">
  <div class="grid grid--cols-1">
    <div class="col col--center" style="display: flex; justify-content: center;">
      <img class="image image-dither" style="max-width: 100%; max-height: 175px; height: auto;"
        src="https://raw.githubusercontent.com/MarkHopper24/Art-Institute-Image-of-the-Day/refs/heads/main/artwork.jpg" />
    </div>
  </div>
</div>
<div class="title_bar">
  <span class="title">Art Institute</span>
  <span class="instance">{{ DateDisplay }}</span>
</div>
