<!-- TRMNL OG - Half vertical (left or right half of a side-by-side mashup). -->
<div class="layout layout--top">
  <div class="grid grid--cols-1 gap--small">
    <div class="col col--start gap--small">
      <div class="value value--xsmall"><b>{{ Title }}</b></div>
      <div class="description clamp--2">{{ Artist }}</div>
      <div class="label clamp--1"><b>Date:</b> {{ DateDisplay }}</div>
      <div class="row row-center" style="display: flex; justify-content: center;">
        <img class="image image-dither" style="max-width: 100%; max-height: 260px; height: auto;"
          src="https://raw.githubusercontent.com/MarkHopper24/Art-Institute-Image-of-the-Day/refs/heads/main/artwork.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <span class="title">Art Institute</span>
  <span class="instance">Image of the Day</span>
</div>
